*~

compute_fibers/*~
compute_fibers/Makefile
compute_fibers/*.e
compute_fibers/run_*
compute_fibers/*.o
compute_fibers/nbproject/
compute_fibers/.*

compute_valve_fibers/*~
compute_valve_fibers/Makefile
compute_valve_fibers/*.e
compute_valve_fibers/run_*
compute_valve_fibers/*.o
compute_valve_fibers/nbproject/
compute_valve_fibers/.*
compute_valve_fibers/valve-fibers-run

compute_volume/*~
compute_volume/Makefile
compute_volume/*.e
compute_volume/run_*
compute_volume/*.o
compute_volume/nbproject/
compute_volume/.*
compute_volume/*.dat
compute_volume/main


probe_exodus_mesh/*~
probe_exodus_mesh/Makefile
probe_exodus_mesh/*.e
probe_exodus_mesh/run_*
probe_exodus_mesh/*.o
probe_exodus_mesh/nbproject/
probe_exodus_mesh/.*
probe_exodus_mesh/*.dat
probe_exodus_mesh/main


meters/*~
meters/Makefile
meters/*.e
meters/run_*
meters/*.o
meters/nbproject/
meters/.*
meters/*.dat
meters/main2d
meters/main3d
meters/viz_IB3d
meters/viz_inst3d
meters/*.log
meters/*.d
meters/*.curve
