*~

compute_fibers/*~
compute_fibers/Makefile
compute_fibers/*.e
compute_fibers/run_*
compute_fibers/*.o
compute_fibers/nbproject/
compute_fibers/.*

compute_valve_fibers/*~
compute_valve_fibers/Makefile
compute_valve_fibers/*.e
compute_valve_fibers/run_*
compute_valve_fibers/*.o
compute_valve_fibers/nbproject/
compute_valve_fibers/.*
compute_valve_fibers/valve-fibers-run

compute_volume/*~
compute_volume/Makefile
compute_volume/*.e
compute_volume/run_*
compute_volume/*.o
compute_volume/nbproject/
compute_volume/.*
compute_volume/*.dat
compute_volume/main


translating_web/*~
translating_web/Makefile
translating_web/*.e
translating_web/run_*
translating_web/*.o
translating_web/nbproject/
translating_web/.*
translating_web/*.dat
translating_web/main2d
translating_web/main3d
translating_web/viz_IB3d
translating_web/*.log
translating_web/*.d
translating_web/*.curve
